<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MysqlExercise</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelSql</servlet-name>
    <servlet-class>servlet.SelSql</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Insql</servlet-name>
    <servlet-class>servlet.Insql</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InsSql</servlet-name>
    <servlet-class>servlet.InsSql</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelSql</servlet-name>
    <servlet-class>servlet.DelSql</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateSql</servlet-name>
    <servlet-class>servlet.UpdateSql</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>SelSql</servlet-name>
    <url-pattern>/servlet/SelSql</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Insql</servlet-name>
    <url-pattern>/servlet/Insql</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsSql</servlet-name>
    <url-pattern>/servlet/InsSql</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelSql</servlet-name>
    <url-pattern>/servlet/DelSql</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateSql</servlet-name>
    <url-pattern>/servlet/UpdateSql</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>