@charset "UTF-8";
/**
 * 
 * @authors Sunruixin
 * @date    2016-12-29 16:42:09
 */
 *{
 	margin:0;
 	padding: 0;
 	font-family: "微软雅黑";
 }
.tableMain{
	width: 1098px;
	border: 1px solid #bcbcbc;
}
.tableMain>.title1{
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #DBEAF5;
	color: #333;
	text-align: center;
	font-size: 18px;
	border-bottom: 1px solid #bcbcbc;
}
.tableMain>.postCompany{
	height: 44px;
	border-bottom: 1px solid #bcbcbc;
}
.tableMain>.postCompany>div{
	width: 361px;
	margin: 0px auto;
}
.tableMain>.postCompany>div>span{
	line-height: 44px;
	font-size: 15px;
	color: #333;
}
.tableMain>.postCompany>div>input{
	width: 278px;
	font-size: 15px;
	color: #333;
	padding: 6px;
	border: 1px solid #bcbcbc;
}
.tableMain>table{
	width: 979px;
	border-collapse: collapse;
	margin:6px auto;
}
.tableMain>table td{
	border: 1px solid #bcbcbc;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.tableMain>table .grey{
	background: #f2f2f2;
}
.tableMain>table td .mrqg{
	margin-right: 40px;
}
.tableMain>table td .edit{
	color: #408EDF;
	text-decoration: underline;
	cursor: pointer;
}
.tableMain>table td>input{
	width: 278px;
	font-size: 15px;
	color: #333;
	padding: 6px;
	border: 1px solid #bcbcbc;
}
.tableMain .formSubmit{
	display: block;
	width: 80px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-size: 15px;
	border-radius: 5px;
	background: #FEB13B;
	color: #fff;
	margin: 15px auto 40px;
	text-decoration: none;
}