<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>权限管理</title>
    <link rel="stylesheet" href="../../plugins/css/style.css" >
    <link rel="stylesheet" href="../../plugins/layui/css/layui.css">
    <link rel="stylesheet" href="css/Authority_Manage.css">
</head>
<body class="layui-layout-body">
<div style="height:auto;min-width: 1200px">
    <form id="entryForm" lay-filter="formTest"  class="layui-form" onsubmit="return false">
        <div style="margin-top: 20px; height: 100%">
            <blockquote class="layui-elem-quote">选择权限人员</blockquote>
            <div class="layui-form" style="text-align: center">
                <div class="layui-form-item" style="width: 300px;display: inline-block">
                    <label class="layui-form-label">角色名称:</label>
                    <div class="layui-input-block">
                        <select id="username" name="username"lay-verify="required" lay-search lay-filter="username">
                            <option value="4">管理员</option>
                            <option value="3">部长</option>
                            <option value="2">组长</option>
                            <option value="1">组员</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form button-contain">
            <div class="layui-form-item">
                <label class="layui-form-label">请选择权限：</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="01" id="01"title="仓库管理">
                    <input type="checkbox" name="0101" id="02"title="仓库进货">
                    <input type="checkbox" name="0102" id="03"title="仓库退货">
                    <input type="checkbox" name="0103" id="04"title="仓库领料">
                    <input type="checkbox" name="0104" id="05"title="仓库退料">
                    <input type="checkbox" name="0105" id="06"title="商品调拨">
                    <input type="checkbox" name="0106" id="07"title="仓库盘点">
                    <input type="checkbox" name="02" id="08"title="人员管理">
                    <input type="checkbox" name="0201" id="09"title="仓库管理员管理">
                    <input type="checkbox" name="0202" id="010" title="供应商信息管理">
                    <input type="checkbox" name="0203"id="011"title="客户信息管理">
                    <input type="checkbox" name="0402"id="012" title="仓库历史操作查询">
                    <input type="checkbox" name="03" id="141"title="资源管理">
                    <input type="checkbox" name="0301" id="015"title="库房管理">
                    <input type="checkbox" name="0304" id="016"title="物料编码管理">
                    <input type="checkbox" name="05" id="017"title="系统管理">
                    <input type="checkbox" name="0501"id="013" title="权限管理">

                </div>
            </div>
            <!--<div class="layui-form-item">-->
                <!--<label class="layui-form-label">部长权限：</label>-->
                <!--<div class="layui-input-block">-->
                    <!--<input type="checkbox" name="0201" title="仓库管理员管理">-->
                    <!--<input type="checkbox" name="0202" title="供应商信息管理">-->
                    <!--<input type="checkbox" name="0203" title="客户信息管理">-->
                    <!--<input type="checkbox" name="0301" title="库房管理">-->
                    <!--<input type="checkbox" name="0302" title="库区管理">-->
                    <!--<input type="checkbox" name="0303" title="货位管理">-->
                    <!--<input type="checkbox" name="0402" title="仓库历史操作查询">-->
                    <!--<input type="checkbox" name="0501" title="权限管理">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-form-item">-->
                <!--<label class="layui-form-label">组长权限：</label>-->
                <!--<div class="layui-input-block">-->
                    <!--<input type="checkbox" name="0201" title="仓库管理员管理">-->
                    <!--<input type="checkbox" name="0202" title="供应商信息管理">-->
                    <!--<input type="checkbox" name="0203" title="客户信息管理">-->
                    <!--<input type="checkbox" name="0301" title="库房管理">-->
                    <!--<input type="checkbox" name="0302" title="库区管理">-->
                    <!--<input type="checkbox" name="0303" title="货位管理">-->
                    <!--<input type="checkbox" name="0402" title="仓库历史操作查询">-->
                    <!--<input type="checkbox" name="0501" title="权限管理">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-form-item">-->
                <!--<label class="layui-form-label">组员权限：</label>-->
                <!--<div class="layui-input-block">-->
                    <!--<input type="checkbox" name="0201" title="仓库管理员管理">-->
                    <!--<input type="checkbox" name="0202" title="供应商信息管理">-->
                    <!--<input type="checkbox" name="0203" title="客户信息管理">-->
                    <!--<input type="checkbox" name="0301" title="库房管理">-->
                    <!--<input type="checkbox" name="0302" title="库区管理">-->
                    <!--<input type="checkbox" name="0303" title="货位管理">-->
                    <!--<input type="checkbox" name="0402" title="仓库历史操作查询">-->
                    <!--<input type="checkbox" name="0501" title="权限管理">-->
                <!--</div>-->
            <!--</div>-->
            <div class="bottom_button_warpper">
                <button class="layui-btn layui-btn-normal" id="save">
                    <i class="layui-icon">&#x1005;</i> 保存并提交
                </button>
            </div>
        </div>
    </form>
</div>

</body>
<script rel="script" src="../../plugins/layui/layui.js"></script>
<script src="../../util/util.js"></script>
<script rel="script" src="js/Authority_Manage.js"></script>
</html>